In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd
gen_data =pd.read_csv('/content/gdrive/My Drive/Dataset/Plant_1_Generation_Data.csv')
gen_data.drop(['PLANT_ID', 'SOURCE_KEY'], axis='columns', inplace=True)
gen_data.head(50)

           DATE_TIME  DC_POWER  AC_POWER  DAILY_YIELD  TOTAL_YIELD
0   15-05-2020 00:00       0.0       0.0          0.0    6259559.0
1   15-05-2020 00:00       0.0       0.0          0.0    6183645.0
2   15-05-2020 00:00       0.0       0.0          0.0    6987759.0
3   15-05-2020 00:00       0.0       0.0          0.0    7602960.0
4   15-05-2020 00:00       0.0       0.0          0.0    7158964.0
5   15-05-2020 00:00       0.0       0.0          0.0    7206408.0
6   15-05-2020 00:00       0.0       0.0          0.0    7028673.0
7   15-05-2020 00:00       0.0       0.0          0.0    6522172.0
8   15-05-2020 00:00       0.0       0.0          0.0    7098099.0
9   15-05-2020 00:00       0.0       0.0          0.0    6271355.0
10  15-05-2020 00:00       0.0       0.0          0.0    6316803.0
11  15-05-2020 00:00       0.0       0.0          0.0    7177992.0
12  15-05-2020 00:00       0.0       0.0          0.0    6185184.0
13  15-05-2020 00:00       0.0       0.0          0.0    7169102.0
14  15-05-2020 00:00       0.0       0.0          0.0    7111493.0
15  15-05-2020 00:00       0.0       0.0          0.0    7016832.0
16  15-05-2020 00:00       0.0       0.0          0.0    7038681.0
17  15-05-2020 00:00       0.0       0.0          0.0    6782598.0
18  15-05-2020 00:00       0.0       0.0          0.0    7007866.0
19  15-05-2020 00:00       0.0       0.0          0.0    6339380.0
20  15-05-2020 00:00       0.0       0.0          0.0    7116151.0
21  15-05-2020 00:15       0.0       0.0          0.0    6259559.0
22  15-05-2020 00:15       0.0       0.0          0.0    6183645.0
23  15-05-2020 00:15       0.0       0.0          0.0    6987759.0
24  15-05-2020 00:15       0.0       0.0          0.0    7602960.0
25  15-05-2020 00:15       0.0       0.0          0.0    7158964.0
26  15-05-2020 00:15       0.0       0.0          0.0    7206408.0
27  15-05-2020 00:15       0.0       0.0          0.0    7028673.0
28  15-05-2020 00:15       0.0       0.0          0.0    6522172.0
29  15-05-2020 00:15       0.0       0.0          0.0    7098099.0
30  15-05-2020 00:15       0.0       0.0          0.0    6271355.0
31  15-05-2020 00:15       0.0       0.0          0.0    6316803.0
32  15-05-2020 00:15       0.0       0.0          0.0    7177992.0
33  15-05-2020 00:15       0.0       0.0          0.0    6185184.0
34  15-05-2020 00:15       0.0       0.0          0.0    7169102.0
35  15-05-2020 00:15       0.0       0.0          0.0    7111493.0
36  15-05-2020 00:15       0.0       0.0          0.0    7016832.0
37  15-05-2020 00:15       0.0       0.0          0.0    7038681.0
38  15-05-2020 00:15       0.0       0.0          0.0    6782598.0
39  15-05-2020 00:15       0.0       0.0          0.0    7007866.0
40  15-05-2020 00:15       0.0       0.0          0.0    6339380.0
41  15-05-2020 00:15       0.0       0.0          0.0    7116151.0
42  15-05-2020 00:30       0.0       0.0          0.0    6259559.0
43  15-05-2020 00:30       0.0       0.0          0.0    6183645.0
44  15-05-2020 00:30       0.0       0.0          0.0    6987759.0
45  15-05-2020 00:30       0.0       0.0          0.0    7602960.0
46  15-05-2020 00:30       0.0       0.0          0.0    7158964.0
47  15-05-2020 00:30       0.0       0.0          0.0    7206408.0
48  15-05-2020 00:30       0.0       0.0          0.0    7028673.0
49  15-05-2020 00:30       0.0       0.0          0.0    6522172.0

In [ ]:
gen_data.drop_duplicates(subset=['DATE_TIME'])

              DATE_TIME  DC_POWER  AC_POWER  DAILY_YIELD  TOTAL_YIELD
0      15-05-2020 00:00       0.0       0.0          0.0    6259559.0
21     15-05-2020 00:15       0.0       0.0          0.0    6259559.0
42     15-05-2020 00:30       0.0       0.0          0.0    6259559.0
63     15-05-2020 00:45       0.0       0.0          0.0    6259559.0
84     15-05-2020 01:00       0.0       0.0          0.0    6259559.0
...                 ...       ...       ...          ...          ...
68668  17-06-2020 22:45       0.0       0.0       5521.0    6485319.0
68690  17-06-2020 23:00       0.0       0.0       5521.0    6485319.0
68712  17-06-2020 23:15       0.0       0.0       5521.0    6485319.0
68734  17-06-2020 23:30       0.0       0.0       5521.0    6485319.0
68756  17-06-2020 23:45       0.0       0.0       5521.0    6485319.0

[3158 rows x 5 columns]

In [ ]:
import pandas as pd
weather_data = pd.read_csv('/content/gdrive/My Drive/Dataset/Plant_1_Weather_Sensor_Data.csv')
print(weather_data)

            DATE_TIME  PLANT_ID  ... MODULE_TEMPERATURE  IRRADIATION
0      5/15/2020 0:00   4135001  ...          22.857507          0.0
1      5/15/2020 0:15   4135001  ...          22.761668          0.0
2      5/15/2020 0:30   4135001  ...          22.592306          0.0
3      5/15/2020 0:45   4135001  ...          22.360852          0.0
4      5/15/2020 1:00   4135001  ...          22.165423          0.0
...               ...       ...  ...                ...          ...
3177  6/17/2020 22:45   4135001  ...          21.480377          0.0
3178  6/17/2020 23:00   4135001  ...          21.389024          0.0
3179  6/17/2020 23:15   4135001  ...          20.709211          0.0
3180  6/17/2020 23:30   4135001  ...          20.734963          0.0
3181  6/17/2020 23:45   4135001  ...          20.427972          0.0

[3182 rows x 6 columns]

In [ ]:
import pandas as pd